@inherits UmbracoViewPage<PatentVista.Models.MenuModel>

@{
   Layout = null;
}

<div id="articlemenu">
    <b>@Umbraco.GetDictionaryValue("Rubrieken")</b> 
    <ul class="navmenu">
        @foreach (var rubriek in Model.Rubrieken)
        {
            <li><a href="@rubriek.Url">@rubriek.Name</a></li>
        }
    </ul>
    <b>@Umbraco.GetDictionaryValue("Kosten per land")</b>
    <ul class="navmenu">
        <li>
            <a href="@Model.CostPage.Url">@Model.CostPage.GetProperty("paginaTitel").Value</a>
        </li>
    </ul>
    <b>@Umbraco.GetDictionaryValue("Overige")</b>
    <ul class="navmenu">
        <li>
            <a href="@Model.ContactPage.Url">@Model.ContactPage.GetProperty("paginaTitel").Value</a>
        </li>
    </ul>
</div>
