@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
}

<h1>@Umbraco.Field("paginatitel")</h1>

<p>@Umbraco.Field("korteIntro")</p>
<ul class="navmenu">
    @foreach (var page in @Model.Content.AncestorOrSelf("Homepage").Descendants("Land").OrderBy(x => x.Name))
    {
        <li><a href="@page.Url">@page.Name</a></li>    
    }
</ul>


@section title
{
    @Umbraco.Field("paginatitel")
}
