@using PatentVista.Models
@using Umbraco.Web.Media.EmbedProviders.Settings
@using umbraco.cms.businesslogic.web
@using String = System.String
@inherits UmbracoTemplatePage
@{
    Layout = "Main.cshtml";
}

<span id="siteBaseUrl" class="hide">@Model.Content.AncestorOrSelf(1).Sibling("Settings").GetProperty("siteBaseUrl").Value</span>
<span id="landId" class="hide">@Umbraco.Field("kostenland")</span>
<span id="languageCode" class="hide">@Domain.GetDomainsById(Model.Content.AncestorOrSelf(1).Id)[0].Language.CultureAlias;</span>

<h1>@Umbraco.GetDictionaryValue("Patentkosten") @Model.Content.Name</h1>

<p>@Umbraco.Field("omschrijving")</p>
<p>PatentVista stores patent fee data from countries all over the world. The data stored is in local currencies. 
For convenience to our users all patent fees can be converted in either Euros, US Dollars, Japanese Yens, Chinese Yuans, Brazilian Reals or Indian Rupees.
<br><br>Exchange rates used to convert from local currencies to the currencies mentioned are refreshed every 3 hours. 	
</p> 
<div id="currency-buttons">
    <input name="currency" id="EUR" type="radio" value="EUR"/><label for="EUR">@Umbraco.GetDictionaryValue("Euro")</label>
    <input name="currency" id="USD" type="radio" value="USD"/><label for="USD">@Umbraco.GetDictionaryValue("Dollar")</label>
	<input name="currency" id="JPY" type="radio" value="JPY"/><label for="JPY">@Umbraco.GetDictionaryValue("Yen")</label>
	<input name="currency" id="CNY" type="radio" value="CNY"/><label for="CNY">@Umbraco.GetDictionaryValue("Yuan")</label>
	<input name="currency" id="BRL" type="radio" value="BRL"/><label for="BRL">@Umbraco.GetDictionaryValue("Real")</label>
	<input name="currency" id="INR" type="radio" value="INR"/><label for="INR">@Umbraco.GetDictionaryValue("Rupee")</label>
</div>

<div id="graph-explanation"><strong>@Umbraco.GetDictionaryValue("Patenttaksen voor") @Model.Content.Name</strong></div>
<canvas id="myChart" width="620" height="400"></canvas>


@Html.Action("Index", "ExtraCost", new { area = string.Empty })



@section title
{
    @Umbraco.GetDictionaryValue("Patentkosten") @Model.Content.Name
}

@section optionalJs
{
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/Chart.js"></script>
    <script src="/static/js/custom.js"></script>
    <script src="/static/js/graph.js"></script>
}